/*Andrew Armas. WEB 210 - FINAL PROJECT*/

/*
Color Palette
Murray(Dark Magenta) #78103F
Russian Violet #2D1442
Dark Cyan #0F8B8D
Sunglow #FFC857
White #FFFFFF
Pink #DB1A77
*/


/*BOOTSTRAP - CUSTOM COLORS*/


.custom-bg-primary {
  background-color: #2D1442 !important; /* Custom primary background */
}

.custom-primary {
  color: #2D1442 !important; /* Custom primary color */
}

.custom-border-color {
  border-color: #2D1442; /* Custom border color */
}


/*GENERAL STYLES*/

body {
    font-family: "Montserrat", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, a, button, .navbar, .dropdown-menu {
  font-family: "Montserrat", sans-serif;
}

.navbar .nav-link:hover {
  color: #FFC857; /* Text color on hover */
  background-color: #78103F; /* Background color on hover */
  font-weight: bold;
}

.navbar .dropdown-item:hover {
  color: #0F8B8D; /* Text color for dropdown on hover */
  background-color: #FFC857; /* Background color for dropdown on hover */
  font-weight: bold;
}


.site {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto repeat(6, 376);
    row-gap: 15px;
    column-gap: 15px;
  }
  
  .menu-wrap {
      grid-column: 1/6;
      grid-row: 1/2;
      z-index: 10;
  }
  

a {
    text-decoration: none;
    color: inherit;
}


.header-image {
    width: 75%;
    padding-top: 20px;
    border-radius: 15px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
    border-radius: 15px;
}


/*Header Content*/
.header-content {
   padding: 20px 40px;
}

.masthead h1 {
    font-size: 4rem;
    font-weight: bolder;
}


/* FOOTER ---------------------------*/
footer {
    background: #78103F;
    color: #fbf5ee;  
}

#footer-header {
    color: #fbf5ee;
    font-size: large;
    padding-top: 20px;
}

footer a:hover {
    color: #FFC857;
    font-weight: bold;
    text-decoration: underline;
}

footer p {
    padding-top: 5px;
}

.socials {
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
}

.socials li {
    display: inline-block;
    margin-left: 15px;
}

.socials img {
    width: 32px;
    border-radius: 0px;
}

.socials img:hover {
    opacity: 0.75;
}

@media screen and (min-width:715px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:714px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}